      <div class="nav-wrap" id="navWrap">
      <ul class="nav-links" id="navLinks">
        <li><a href="../index.html">Home</a></li>
        <li><a href="../logisticore-saas.html">Platform</a></li>
        <li class="has-dropdown">
          <button type="button" class="nav-dropdown-trigger" aria-haspopup="true" aria-expanded="false">Services</button>
          <ul class="dropdown-menu">
            <li><a href="../it-support.html">IT Support</a></li>
            <li><a href="../website-creation.html">Websites</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <button type="button" class="nav-dropdown-trigger" aria-haspopup="true" aria-expanded="false">Products</button>
          <ul class="dropdown-menu">
            <li><a href="../freight-software.html">Freight Software</a></li>
            <li><a href="../uk-air-rates.html">UK Air Rates</a></li>
            <li><a href="../invoice-tool.html">Invoice Extraction</a></li>
            <li><a href="../custom-tools.html">Bespoke Automation</a></li>
            <li><a href="../results.html">Results &amp; Use Cases</a></li>
          </ul>
        </li>
        <li><a href="../pricing.html">Pricing</a></li>
        <li><a href="index.html">Blog</a></li>
        <li><a href="../partners.html">Partners</a></li>
        <li><a href="../contact.html">Contact</a></li>
      </ul>
      <div class="nav-utilities">
        <a href="https://app.logisticoreapp.com/rates/tool/" class="nav-chip">✈ Rates</a>
        <a href="https://customs.logisticoreapp.com" class="nav-chip nav-chip-alt" target="_blank" rel="noopener">⚙ Customs</a>
        <a href="https://app.logisticoreapp.com/app/login" class="login-btn">Login</a>
      </div>
      </div>
